/***************************Tag Selectors*****************************/
body {
  font-family: 'Roboto' sans-serif;

}

h1 {
  font-family: 'Noto' sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 4rem;
}

h2{
  font-size: 3rem;
}

h5 {
  font-family: 'Noto' sans-serif;
  line-height: 1.5;
  font-size: 2rem;
}




/***************************Class Selectors*****************************/

.navbar {
  padding: 1rem;
  background-color: #e6e6e6;
}

.nav-item {
  padding: 0 1rem;
}

.index-csl-body {
background-color: #fff;
padding: 1rem;
}


.index-carousel {
  margin: 10rem 1rem 3rem;
}

.index-products-header {
  text-align: center;
  background-color: #e6e6e6;
  margin: 0;
  padding-top: 3rem;
}

.index-product-cards-cont {
  background-color: #e6e6e6;
  padding: 3rem 0;
}

.index-product-cards {
  margin: 0 8rem;
  border-radius: 20px;
  }

.card-img-top {
    padding-top: 0 0 1rem;
    border-radius: 10px 10px 0 0;
  }

.index-cards {
  max-width: 22rem;
  /* height: 38rem; */
  border-radius: 20px;
  border: none;
}

.index-card-text {
  text-align: justify;
}

.index-card-title {
  text-align: center;
}

.index-card-btn {
  text-align: center;
}

.index-contact-container{
background-color: #fff;
margin: 4rem auto;
}

.index-contact {
  text-align: center;
  margin: 1rem auto 2rem;
}

.footer-one {
  background-color: #8A8A99;
}

.footer-row {
  margin: 0 8rem;
  line-height: 1.5;
  padding: 3rem 0;
  font-size: 0.75rem;
}

.footer-logo{
  padding-top: 1.5rem;
}

.fas {
  color: #0200c6;
}

.fab {
  color: #0200c6;
}

.footer {
  font-size: 0.65rem;
  text-align: center;
  padding-bottom: 1rem;
}



/***************************ID Selectors*****************************/
#index-contact {
  text-align: center;
  margin: 1rem;
}



/***************************Media Queries*****************************/

@media only screen and (max-width: 768px) {
  [class="index-product-cards"] {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 0;
    height: auto;
     }
}
